body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

.barra_navegacion{
    display: flex;
    background-color: #ffffff95;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.iconos_nav{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    display: flex;
}

@media screen and (max-width:768px){
    .iconos_nav{    
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px){
    .iconos_nav{
        font-size: 0.7em;
    }
}

.enlace_barra_nav{
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
}

.enlace_barra_nav:hover{
    color: #fff5e1;;
}

.botones_barra_nav{
    padding-right: 20px;
}

@media screen and (max-width:600px){
    .botones_barra_nav{
        padding-left: 20px;
    }
}

.cuenta {
    color: #ffffff;
    background-color: #074207;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .cuenta{
        font-size: 0.6em;
        display: flex;
    }
}

/*home*/

#home{
    background-image: url(../img/img1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

h1{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 4em;
    text-shadow: 2px 2px 4px #b54c4c;
    margin: 0;
    /*padding-top: 300px;*/
}

@media screen and (max-width:768px){
    h1{    
        font-size: 3em;
    }
}

@media screen and (max-width:600px){
    h1{
        font-size: 2em;
    }
}

.counter{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #cbc7c7bf;
    font-size: 2em;
    background-color: #b54c4ca8;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width:768px){
    .counter{    
        font-size: 1.5em;
    }
}

@media screen and (max-width:600px){
    .counter{
        font-size: 1.2em;
    }
}

.boton_empezar{
    background-color: #074207;
    color: #ffffff;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 20px;
    border-color: #b54c4c;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .boton_empezar{    
        font-size: 1.3em;
    }
}

@media screen and (max-width:600px){
    .boton_empezar{
        font-size: 1em;
    }
}

/* second_page */

.pages{
    background-color: #b54c4c;
    min-height: 100vh;
}

.title_section{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 3em;
    color: #fff5e1;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

@media screen and (max-width:768px){
    .title_section{    
        font-size: 2.3em;
    }
}

@media screen and (max-width:600px){
    .section_title{
        font-size: 2em;
    }
}

.img_texto_section{
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 10px 10px 0 10px;
}

@media screen and (max-width:768px){
    .img_texto_section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.img_renos_container{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
}

@media screen and (max-width:768px){
    .img_renos_container{
        justify-content: center;
        height: 50%;
    }
}

@media screen and (max-width:600px){
    .img_renos_container{
        height: 40%;
    }
}

.img_renos{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 5px;
}

.texto_mundo_santa{    
    width: 60%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #fff5e1;
    text-align: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
    background-color: #9d3838;
    margin: auto;
   
}

@media screen and (max-width:1300px){
    .texto_mundo_santa{    
        width: 60%;
        font-size: 1em;
    }
}

@media screen and (max-width:900px){
    .texto_mundo_santa{    
        width: 90%;
    }
}


@media screen and (max-width:768px){
    .texto_mundo_santa{    
        width: 80%;
        font-size: 0.8em;
    }
}

@media screen and (max-width:600px){
    .texto_mundo_santa{
        width: 60%;
        font-size: 0.7em;
    }
}

.destacar_frase{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.destacar_especifico{
    color: #daa520;
}

/* third_page */

.boxes_section{
    height: calc(100vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #9d3838;
}

.box{
    width: 22%;
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: #074207;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #fff5e1;
    align-content: stretch;
}

@media screen and (max-width:1200px){
    .box{    
        margin: 15px;
        padding: 15px;
        font-size: 0.7em;
    }
}

@media screen and (max-width:768px){
    .box{    
        width: 35%;
    }
}

@media screen and (max-width:600px){
    .box{    
        width: 50%;
        margin: 5px;
        height: 40px;
    }
}

.datos_box{
    width: 45%
}

@media screen and (max-width:768px){
    .datos_box{  
        width: 30%;     
        font-size: 0.7em;
    }
}
@media screen and (max-width:600px){
    .datos_box{ 
        display: flex;
        width: 30%;
        font-size: 0.6em;
    }
}

.foto_carta{
    width: 60%;
    border-radius: 40px;
}

@media screen and (max-width:600px){
    .foto_carta{ 
        width: 70%;
        height: 70%;
    }
}

@media screen and (max-width:600px){
    .datos{
        display: flex;
        padding-left: 15px;
    }
}

@media screen and (max-width:600px){
    .lugar_residencia{
        padding-left: 10px;
    }
}

.texto_carta{
    width: 60%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    padding-left: 20px;
}

@media screen and (max-width:768px){
    .texto_carta{    
        padding-left: 15px;
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px){
    .texto_carta{   
        width: 70%; 
        padding-left: 50px;
        font-size: 0.6em;
    }
}

/* #fourth_page */

.formulario_section{
    height: calc(100vh - 115px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario{
    padding: 10px;
    background-color: #9d3838;
}

.caramelo_izq{
    width: 20%;
    padding-left: 20px;
}

.caramelo_dcha{
    width: 20%;
    padding-right: 20px;
}

.nom_email{
    display: flex;
}

@media screen and (max-width:600px){
    .nom_email{    
        flex-direction: column;
    }
}

.lugar{
    display: flex;
}

@media screen and (max-width:600px){
    .lugar{    
        flex-direction: column;
    }
}

label{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff5e1;
    display: block;
    margin-bottom: 10px;
}

@media screen and (max-width:768px){
    label{ 
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px){
    label{    
        font-size: 0.7em;
        margin-bottom: 5px;
    }
}

.caja_label{
    width: 100%;
    padding: 30px 30px 30px 10px;
}

@media screen and (max-width:768px){
    .caja_label{ 
        padding: 30px 30px 20px 10px;
    }
}

@media screen and (max-width:600px){
    .caja_label{    
        width: 80%;
        padding: 10px 30px 10px 10px;
    }
}

.formulario_input{
    padding: 10px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-color: #fffefe95;
}

@media screen and (max-width:768px){
    .formulario_input{ 
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px){
    .formulario_input{    
        padding: 5px;
        font-size: 0.7em;
    }
}

.mi_carta{
    display: flex;
}

.formulario_input_mi_carta{
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #fffefe95;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-left-color: #000000;
    border-top-color: #000000;
    border-right-color: #808080;
    border-bottom-color: #808080;
    border-width: 2px;
}

@media screen and (max-width:768px){
    .formulario_input_mi_carta{ 
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px){
    .formulario_input_mi_carta{    
        font-size: 0.7em;
        padding: 5px;
    }
}

.boton_enviar{
    display: flex;
    justify-content: center;
}

.formulario_submit{
    padding: 10px;
    width: 100px;
    height: 30%;
    background-color: #074207;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

/* #fifth_page*/

.juegos_section{
    display: block;
    padding: 15px 40px;
    align-content: center;
    align-items: center;
}

.frase_juegos_section{
    display: flex;
    justify-content: center;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #daa520;
    text-shadow: 2px 2px 5px #333333;
    width: 100%;
} 

@media screen and (max-width:600px){
    .frase_juegos_section{
        font-size: 1.5em;
    }
}

@media screen and (max-width:600px){
    .frase_juegos_section{
        font-size: 1.3em;
    }
}

.letras_frase_juegos_section{
    margin: 10px;
}

.subseccion_juegos{
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

@media screen and (max-width:768px){
    .subseccion_juegos{
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
}

.lista_juegos{
    width: 40%;
    padding: 20px;
}

@media screen and (max-width:768px){
    .lista_juegos{
        width: 100%;
    }
}

.juego::marker{
    color: #daa520;
    font-size: 1em;
    font-weight: 900;
    text-shadow: 2px 2px 5px #333333;
}

.boton_juego{
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #fff5e1;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-radius: 70px;
    margin: 10px;
    width: 90%;
}

.boton_juego:hover{
    background-color: #daa520;
}

@media screen and (max-width:768px){
    .boton_juego{
        padding: 10px;
    }
}

@media screen and (max-width:600px){
    .boton_juego{
        padding: 5px;
    }
}

.fondo_juegos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9d3838;
    width: 50%;
    height: 100%;
    border-radius: 70px;
}

@media screen and (max-width:1200px){
    .fondo_juegos{
        width: 70%;
        height: 90%;
    }
}

@media screen and (max-width:768px){
    .fondo_juegos{
        width: 90%;
        height: 70%;
    }
}

@media screen and (max-width:600px){
    .fondo_juegos{
        width: 80%;
        height: 50%;
    }
}

#img_juego{
    width: 75%;
    height: 40vh;
    padding: 20px;
    border-radius: 70px;
    margin: auto;
}

@media screen and (max-width:1200px){
    #img_juego{
        width: 80%;
        height: 40vh;
    }
}

@media screen and (max-width:768px){
    #img_juego{
        padding: 5px;
        width: 60%;
        height: 25vh;
    }
}

@media screen and (max-width:600px){
    #img_juego{
        width: 90%;
    }
}

/*footer*/

.pie_de_pagina{
    background-color: #635b5b7f;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    text-align: left;
    align-items: center;
    width: 100%;
    height: 20vh;
}

.elem_pie_de_pag{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.redes_sociales{
    text-align: center;
    width: 25%;
}

@media screen and (max-width:768px){
    .redes_sociales{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .redes_sociales{
        width: 35%
    }
}

.contacto{
    text-align: center;
    width: 30%;
}

@media screen and (max-width:768px){
    .contacto{
        font-size: 0.8em;
    }
}

@media screen and (max-width:600px){
    .contacto{
        font-size: 0.6em;
    }
}

.informacion{
    text-align: center;
    width: 30%;
}

@media screen and (max-width:768px){
    .informacion{
        font-size: 0.8em;
    }
}

@media screen and (max-width:600px){
    .informacion{
        font-size: 0.6em;
    }
}

.politica_privacidad{
    text-decoration: none;
    color: black;
}

.politica_privacidad:hover{
    color: #fff5e1;;
}

.icono{
    width:10%;
}