body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family:"times new roman", sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 4em;
    margin-top: 0;
    padding-top: 400px;
}

.home{
    background-image: url(../img/img1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
