body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra_navegacion{
    display: flex;
    background-color: #ffffff95;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.iconos_nav{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    display: flex;
}

@media screen and (max-width:768px){
    .iconos_nav{    
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px){
    .iconos_nav{
        font-size: 0.7em;
    }
}

.enlace{
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
}

.enlace:hover{
    color: #074207;
}

.enlace:active{
    color: #074207;
}

.enlace:target{
    color: #074207;
}

.botones{
    padding-right: 20px;
}

@media screen and (max-width:600px){
    .botones{
        padding-left: 20px;
    }
}

.registrarse {
    color: #ffffff;
    background-color: #074207;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .registrarse{
        font-size: 0.6em;
        display: flex;
    }
}

#home{
    background-image: url(../img/img1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

h1{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 4em;
    text-shadow: 2px 2px 4px #b54c4c;
    margin: 0;
    /*padding-top: 300px;*/
}

@media screen and (max-width:768px){
    h1{    
        font-size: 3em;
    }
}

@media screen and (max-width:600px){
    h1{
        font-size: 2em;
    }
}

.counter{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #cbc7c7bf;
    font-size: 2em;
    background-color: #b54c4ca8;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width:768px){
    .counter{    
        font-size: 1.5em;
    }
}

@media screen and (max-width:600px){
    .counter{
        font-size: 1.2em;
    }
}

.boton_empezar{
    background-color: #074207;
    color: white;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 20px;
    border-color: #b54c4c;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .boton_empezar{    
        font-size: 1.3em;
    }
}

@media screen and (max-width:600px){
    .boton_empezar{
        font-size: 1em;
    }
}

/* second_page */

.pages{
    background-color: #b54c4c;
    min-height: 100vh;
}

.section_title{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 3em;
    color: #fff5e1;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

@media screen and (max-width:768px){
    .section_title{    
        font-size: 2.8em;
    }
}

@media screen and (max-width:600px){
    .section_title{
        font-size: 2.5em;
    }
}

.img_texto{
    height: calc(100vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
}

@media screen and (max-width:768px){
    .img_texto{
        display: block;
    }
}

.img2{
    width: 100%;
    padding-left: 50px;
}

@media screen and (max-width:1000px){
    .img2{
        width: 90%;
    }
}

@media screen and (max-width:768px){
    .img2{
        width: 85%;
    }
}

@media screen and (max-width:600px){
    .img2{
        width:80%;
    }
}

.text{    
    width: fit-content;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #fff5e1;
    text-align: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 50px;
    background-color: #9d3838;
   
}

@media screen and (max-width:1000px){
    .text{    
        width: 70%;
        font-size: 1.1em;
        padding-left: 50px;
    }
}

@media screen and (max-width:768px){
    .text{    
        font-size: 0.9em;
        margin: auto;
    }
}

@media screen and (max-width:600px){
    .text{
        font-size: 0.7em;
        padding-top: 30px;
    }
}

.destacar_frase{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.destacar_especifico{
    color: #daa520;
}

/* third_page */

.boxes_section{
    height: calc(100vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #9d3838;
}

.box{
    width: 25%;
    display: flex;
    margin: 25px;
    padding: 20px;
    background-color: #074207;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #fff5e1;

}

@media screen and (max-width:1200px){
    .box{    
        margin: 20px;
        padding: 15px;
        font-size: 0.8em;
    }
}

@media screen and (max-width:768px){
    .box{    
        width: 35%;
        font-size: 0.7em;
    }
}

@media screen and (max-width:600px){
    .box{    
        width: 25%;
        margin: 15px;
        font-size: 0.6em;
    }
}

.datos{
    width: 40%
}

.redaccion{
    width: 70%;
    text-overflow: auto;
}

.carta{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
}

.foto_carta{
    width: 60%;
    border-radius: 40px;
}

/* #fourth_page */

.pagina_formulario{
    height: calc(100vh - 115px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_izq{
    width: 20%;
    height: 390px;
    padding-top: 0;
    padding-left: 20px;
}

.img_dcha{
    width: 20%;
    padding-right: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff5e1;
}

.caja_label{
    width: 100%;
    padding: 30px;
}

.formulario{
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #9d3838;
}

.formulario_input{
    padding: 10px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.nom_email{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.lugar{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.mi_carta{
    display: flex;
}

.formulario_carta{
    width: 100%;
    height: 50px;
    padding: 10px;
}

.boton_enviar{
    display: flex;
    justify-content: center;
}

.formulario_submit{
    padding: 10px;
    width: 100px;
    height: 30%;
    background-color: #074207;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

/* #fifth_page*/

.seccion_juegos{
    display: flex;
    padding: 60px 50px;
    align-content: center;
}

@media screen and (max-width:600px){
    .seccion_juegos{
        padding: 10% 20%;
        display: block;
    }
}

.lista_juegos{
    padding: 20px;
    margin: 0;
    background-color: #e6e6fa;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-radius: 10%;
    margin: 10px;
}

@media screen and (max-width:768px){
    .lista_juegos{
        padding: 15px;
    }
}

@media screen and (max-width:600px){
    .lista_juegos{
        padding: 10px;
    }
}

.lista_juegos:hover{
    background-color: #d3d3d3;
}

.juegos{
    display: block;
    align-content: center;
    padding: 20px;
    margin: 0;
    text-decoration: none;
    color: black;
}

@media screen and (max-width:768px){
    .juegos{
        padding: 10px;
    }
}

@media screen and (max-width:600px){
    .juegos{
        padding: 5px;
    }
}

.juego{
    display: none;
}

.img_juego{
    width: 100vh;
    height: 80%;
    padding-left: 20px;
    border-radius: 70px;
}

@media screen and (max-width:1200px){
    .img_juego{
        width: 90%;
    }
}

@media screen and (max-width:768px){
    .img_juego{
        width: 80%;
    }
}

@media screen and (max-width:600px){
    .img_juego{
        padding-top: 10%;
        width: 100%;
    }
}

.juego:target{
    display: block;
}

/*
#juego1{
    
}

#juego2{
  
}

#juego3{

}
*/

.pie_de_pag{
    background-color: rgba(99, 91, 91, 0.498);
    display: flex;
    width: 100%;
    padding-left: 10px;
}

.redes_sociales{
    text-align: center;
    padding: 15px 50px 0 50px; 
    width: 400px;
}

.contacto{
    padding: 0 100px 0 50px;
    text-align: center;
    width: 25%;
}

.informacion{
    text-align: center;
    padding: 0 10px 0 100px;
}
.informacion a{
    text-decoration: none;
    color: black;
}

.icono{
    width:10%;
}