body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.home{
    background-image: url(../img/img1.jpeg);
    text-align: center;
    justify-content: center;
}

.second{
    background-color: crimson;
}

.third{
    background-color: rgb(220, 182, 182);
}

.fourth{
    background-color: crimson;
}

.fifth{
    background-color: rgb(220, 182, 182);
}

h1{
    font-family:"times new roman", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 4em;
    margin: auto;
    padding-top: 300px;
}

h2{
    font-family:"times new roman", sans-serif;
    font-weight: 900;
    color: whitesmoke;
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
}

.img2{
    width: 40%;
    height: 100%;
    padding-left: 20px;
}

.texto {    
    display: inline-block;
    width: 50%;
    height: 30%;
    font-family: "times new roman", sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    justify-content: center;
}