.section_inicio_sesion_popup{
    position: fixed;
    background-color: #fffefee9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
}

@media screen and (max-width:1000px){
    .section_inicio_sesion_popup{ 
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .section_inicio_sesion_popup{ 
        width: 60%;
    }
}

@media screen and (max-width:600px){
    .section_inicio_sesion_popup{    
        width: 80%;
    }
}