/*home*/

#home{
    background-image: url(../images/img1.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}

h1{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 4em;
    text-shadow: 2px 2px 4px #b54c4c;
    margin: 0;
}

@media screen and (max-width:768px){
    h1{    
        font-size: 3em;
    }
}

@media screen and (max-width:600px){
    h1{
        font-size: 2em;
    }
}

.counter{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #cbc7c7bf;
    font-size: 2em;
    background-color: #b54c4ca8;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

@media screen and (max-width:768px){
    .counter{    
        font-size: 1.5em;
    }
}

@media screen and (max-width:600px){
    .counter{
        font-size: 1.2em;
    }
}

.boton_empezar{
    background-color: #074207;
    color: #ffffff;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 20px;
    border-color: #b54c4c;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .boton_empezar{    
        font-size: 1.3em;
    }
}

@media screen and (max-width:600px){
    .boton_empezar{
        font-size: 1em;
    }
}