/* #fifth_page*/

.juegos_section{
    display: block;
    padding: 15px 40px;
    align-content: center;
    align-items: center;
}

.frase_juegos_section{
    display: flex;
    justify-content: center;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #daa520;
    text-shadow: 2px 2px 5px #333333;
    width: 100%;
} 

@media screen and (max-width:600px){
    .frase_juegos_section{
        font-size: 1.5em;
    }
}

@media screen and (max-width:600px){
    .frase_juegos_section{
        font-size: 1.3em;
    }
}

.letras_frase_juegos_section{
    margin: 10px;
}

.subseccion_juegos{
    height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

@media screen and (max-width:768px){
    .subseccion_juegos{
        display: flex;
        flex-direction: column;
        padding-top: 0;
    }
}

.lista_juegos{
    width: 40%;
    padding: 20px;
}

@media screen and (max-width:768px){
    .lista_juegos{
        width: 100%;
    }
}

.juego::marker{
    color: #daa520;
    font-size: 1em;
    font-weight: 900;
    text-shadow: 2px 2px 5px #333333;
}

.boton_juego{
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #fff5e1;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-radius: 70px;
    margin: 10px;
    width: 90%;
}

.boton_juego:hover{
    background-color: #daa520;
}

@media screen and (max-width:768px){
    .boton_juego{
        padding: 10px;
    }
}

@media screen and (max-width:600px){
    .boton_juego{
        padding: 5px;
    }
}

.fondo_juegos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9d3838;
    width: 50%;
    height: 100%;
    border-radius: 70px;
}

@media screen and (max-width:1200px){
    .fondo_juegos{
        width: 70%;
        height: 90%;
    }
}

@media screen and (max-width:768px){
    .fondo_juegos{
        width: 90%;
        height: 70%;
    }
}

@media screen and (max-width:600px){
    .fondo_juegos{
        width: 80%;
        height: 50%;
    }
}

#img_juego{
    width: 75%;
    height: 40vh;
    padding: 20px;
    border-radius: 70px;
    margin: auto;
}

@media screen and (max-width:1200px){
    #img_juego{
        width: 80%;
        height: 40vh;
    }
}

@media screen and (max-width:768px){
    #img_juego{
        padding: 5px;
        width: 60%;
        height: 25vh;
    }
}

@media screen and (max-width:600px){
    #img_juego{
        width: 90%;
    }
}

#juego_click_the_circle {
    display: none; 
    width: 75%;
    height: auto;
}

.espacio_juego{
    height: 40vh;
}

@media screen and (max-width:1200px){
    .espacio_juego{
        height: 40vh;
    }
}

@media screen and (max-width:768px){
    .espacio_juego{
        height: 30vh;
    }
}

#boton_empezar_circle{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    display: block;
    margin: auto;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    background-color: #daa520;
    border: none;
    border-radius: 5px;
    color: #fff5e1;
}

@media screen and (max-width: 768px) {
    #boton_empezar_circle {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 600px) {
    #boton_empezar_circle {
        font-size: 0.5em;
    }
}

.datos_juego_circle{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #daa520;
}

@media screen and (max-width: 768px) {
    .datos_juego_circle {
        padding-top: 0;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 600px) {
    .datos_juego_circle {
        font-size: 0.7em;
    }
}

#boton_salir_circle {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1em;
    background-color: transparent;
    border: none;
    padding: 5px;
    color: #fff5e1;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #boton_salir_circle {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    #boton_salir_circle {
        font-size: 0.8em;
    }
}

.class_tablero_juego_circle {
    position: relative; 
    width: 100%;
    height: 30vh;
    background-color: #7a2b2b;
    border: 1px solid #daa520;
    border-radius: 70px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .class_tablero_juego_circle {
        height: 17vh;
    }
}

@media screen and (max-width: 600px) {
    .class_tablero_juego_circle {
        height: 15vh;
    }
}

#mensaje_fin_circle {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    display: none;
    text-align: center;
    color: #daa520;
}

@media screen and (max-width: 768px) {
    #mensaje_fin_circle {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    #mensaje_fin_circle {
        font-size: 0.8em;
    }
}

.boton_reiniciar {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1em;
    display: block;
    margin: auto;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    background-color: #daa520;
    border: none;
    border-radius: 5px;
    color: #fff5e1;
}

@media screen and (max-width: 768px) {
    .boton_reiniciar {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .boton_reiniciar {
        font-size: 0.8em;
    }
}

#juego_adivina_el_numero {
    display: none; 
    width: 75%;
    height: auto;
}

#boton_empezar_adivina{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    display: block;
    margin: auto;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    background-color: #daa520;
    border: none;
    border-radius: 5px;
    color: #fff5e1;
}

@media screen and (max-width: 768px) {
    #boton_empezar_adivina {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 600px) {
    #boton_empezar_adivina {
        font-size: 0.5em;
    }
}

.datos_juego_adivina {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #daa520;
}

@media screen and (max-width: 768px) {
    .datos_juego_adivina {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .datos_juego_adivina {
        font-size: 0.8em;
    }
}

#boton_salir_adivina {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1em;
    background-color: transparent;
    border: none;
    padding: 5px;
    color: #fff5e1;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #boton_salir_adivina {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    #boton_salir_adivina {
        font-size: 0.8em;
    }
}

.class_tablero_juego_adivina {
    position: relative; 
    width: 100%;
    height: 30vh;
    background-color: #7a2b2b;
    border-radius: 70px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .class_tablero_juego_adivina {
        height: 17vh;
    }
}

@media screen and (max-width: 600px) {
    .class_tablero_juego_adivina {
        height: 15vh;
    }
}

.texto_adivinar{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #daa520;
    padding-top: 50px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .texto_adivinar {
        padding-top: 30px;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .texto_adivinar{
        padding-top: 20px;
        font-size: 0.8em;
    }
}

.hueco_adivinar{
    display: block;
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .hueco_adivinar {
        padding-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    .hueco_adivinar{
        padding-top: 0;
    }
}

.insertar_numero{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #daa520;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .insertar_numero {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    .insertar_numero{ 
        font-size: 0.8em;
    }
}

#boton_adivinar{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    display: block;
    margin: auto;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    background-color: #daa520;
    border: none;
    border-radius: 5px;
    color: #fff5e1;
}

@media screen and (max-width: 768px) {
    #boton_adivinar {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    #boton_adivinar{
        padding: 5px 10px 5px 10px;
        font-size: 0.8em;
    }
}

#mensaje_fin_adivina {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    display: none;
    text-align: center;
    color: #daa520;
}

@media screen and (max-width: 768px) {
    #mensaje_fin_adivina {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    #mensaje_fin_adivina {
        font-size: 0.8em;
    }
}

#mensaje_fin_adivina_enhorabuena {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    display: none;
    text-align: center;
    color: #daa520;
}

@media screen and (max-width: 768px) {
    #mensaje_fin_adivina_enhorabuena {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    #mensaje_fin_adivina_enhorabuena {
        font-size: 0.8em;
    }
}