/*header*/

.barra_navegacion{
    display: flex;
    background-color: #ffffff95;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

@media screen and (max-width:768px){
    .logo{
        width: 40px;
        height: 40px;
        padding-left: 5px;
    }
}

@media screen and (max-width:600px){
    .logo{
        width: 30px;
        height: 30px;
        padding-left: 0;
    }
}

.iconos_nav{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    display: flex;
}

@media screen and (max-width:768px){
    .iconos_nav{    
        font-size: 0.7em;
    }
}

@media screen and (max-width:600px){
    .iconos_nav{
        font-size: 0.6em;
    }
}

.enlace_barra_nav{
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
}

.enlace_barra_nav:hover{
    color: #fff5e1;
}

.botones_barra_nav{
    padding-right: 20px;
}

@media screen and (max-width:600px){
    .botones_barra_nav{
        padding-left: 20px;
    }
}

.entrar{
    color: #ffffff;
    background-color: #074207;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .entrar{
        font-size: 0.6em;
    }
}

@media screen and (max-width:600px){
    .entrar{
        font-size: 0.5em;
        display: flex;
    }
}

#mi_perfil{
    display: none;
}

.imagen_perfil{
    width: 40px;
    height: 40px;
    padding-right: 20px;
    cursor: pointer;
}

#menu_desplegable{
    display: none;
    position: fixed;
    background-color: #ffffff95;
    right: 0;
    top: 54px;
}

.opciones_menu{
    list-style-type: none;
    padding: 0 10px;
}

.datos_perfil{
    cursor: pointer;
    padding: 5px 0;
}

.datos_perfil:hover{
    color: #fff5e1;
}

.cartas_perfil{
    cursor: pointer;
    padding: 5px 0;
}

.cartas_perfil:hover{
    color: #fff5e1;
}

.cerrar_perfil{
    cursor: pointer;
    padding: 5px 0;
}

.cerrar_perfil:hover{
    color: #fff5e1;
}