/*header*/

.barra_navegacion{
    display: flex;
    background-color: #ffffff95;
    position: fixed;
    width: 100%;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.iconos_nav{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    display: flex;
}

@media screen and (max-width:768px){
    .iconos_nav{    
        font-size: 0.9em;
    }
}

@media screen and (max-width:600px){
    .iconos_nav{
        font-size: 0.7em;
    }
}

.enlace_barra_nav{
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
}

.enlace_barra_nav:hover{
    color: #fff5e1;;
}

.botones_barra_nav{
    padding-right: 20px;
}

@media screen and (max-width:600px){
    .botones_barra_nav{
        padding-left: 20px;
    }
}

.cuenta {
    color: #ffffff;
    background-color: #074207;
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .cuenta{
        font-size: 0.6em;
        display: flex;
    }
}