body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pages{
    background-color: #b54c4c;
    min-height: 100vh;
}

.title_section{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 3em;
    color: #fff5e1;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

@media screen and (max-width:768px){
    .title_section{    
        font-size: 2.3em;
    }
}

@media screen and (max-width:600px){
    .title_section{
        font-size: 2em;
    }
}

.title_section_h3{
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    color: #074207;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

@media screen and (max-width:768px){
    .title_section_h3{    
        font-size: 2em;
    }
}

@media screen and (max-width:600px){
    .title_section_h3{
        font-size: 1.5em;
    }
}

.titulo_juego{
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #074207;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

@media screen and (max-width:768px){
    .titulo_juego{    
        font-size: 1.2em;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:600px){
    .titulo_juego{
        font-size: 1em;
        padding-top: 5px;
        padding-bottom: 0;
    }
}